:root {
  --main-bg-color: #f0f0f0;
  --gold-detail: #eeb224
}

/* * {
  border:#aaa solid 1px;
} */

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.nav-bar-container {
  display: flex;
  background-color: #b35d5d;
  justify-content: center;
  position: sticky;
  top: 0;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  max-width: 1500px;
  height: 5rem;
}

.nav-link {
  display: flex;
  font: 2em sans-serif;
  color:#000;
  text-decoration: none;
  padding: 1rem;
  font-weight: 200;
  margin: 0.5rem;
}


.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  background-color: var(--gold-detail);
  text-decoration: none;
}

#home-nav-link {
  padding:0rem
}

.home-icon {
  height: 3rem;
  align-self: center;
  margin:.5rem
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-link {
  text-decoration: none;
  font-style: italic;
  color:#000;
  padding: 1rem;
  border: #aaa solid 1px;
  border-radius: 4%
}

.find-concerts-container {
  padding: 2rem;
  align-self: center;
  display:flex;
  width: 100%;
  max-width: 1400px;
}

.search-container {
  justify-content: left;
  min-width: 220px;
  flex-grow: 1;
  padding: 1rem
}

.results-container {
  justify-content: left;
  margin-left: 1rem;
}

.results-list {
  list-style: none;
}

.results-header {
  margin-left: 2.5rem;
}

.result {
  display: flex;
  justify-content: space-between;
  border:#aaa solid 1px;
  border-radius: 1%;
  margin: .25rem;
  height: 6rem;
  flex-grow: 2;
}

.concert-detail {
  margin-left: 2rem;
  max-width: 70%;
}

.favorite-button {
  height: 50%;
  align-self: flex-end;
  justify-self: flex-end;
  width: 90px;
  font-size: .75rem;
  margin: .25rem
}

/* Catch no results*/
.before-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.before-search-image {
  border:var(--gold-detail) solid 10px;
  border-radius: 50%;
  width: 50%;
  aspect-ratio: 1;
  opacity: 50%;
}

.no-results {
  display: flex;
  justify-content: center;
  flex-grow: 2;
}